<form method="POST" action="/plants">
  <label for="species">Species</label>
  <input type="text" id="species" name="species" />

  <label for="size">Size</label>
  <input type="number" id="size" name="size" />

  <input type="submit" value="Add a plant" />
</form>
